<h2>NBA-STAT</h2>
<p>Сайт хранит в себе статистику лиги NBA начиная с сезона 2017-2018</p>
<img style="max-width: 1000px;" src="https://images.daznservices.com/di/library/NBA_Global_CMS_image_storage/b1/ab/durant-curry-lillard_1npvn9q767uxa1ur7ivhy5e08m.jpeg?t=1696916311&quality=100" alt="игроки">
